@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "SFpro", "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #333;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "SFpro", "Pretendard", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#skip {
  position: relative;
  z-index: 3000;
}
#skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

@font-face {
  font-family: "SFpro";
  src: url(../fonts/SF-Pro.woff) format("woff");
}
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#header .top_bar {
  width: 100vw;
  height: 37px;
  background: #343434;
  display: flex;
  align-items: center;
}
#header .top_bar h1 {
  color: #a7a7a7;
  font-weight: 600;
  margin: 0 auto;
}
#header .top_bar .top_button .fa-circle {
  font-size: 14px;
  margin: 0 2px;
}
#header .top_bar .top_button .circle_red {
  margin-left: 10px;
  color: #fd554b;
}
#header .top_bar .top_button .circle_yellow {
  color: #ffb426;
}
#header .top_bar .top_button .circle_green {
  color: #23c23b;
}

#main {
  display: flex;
}
#main .menu_bar {
  width: 60px;
  height: calc(100vh - 37px);
  background: #2c2c2c;
  position: relative;
}
#main .menu_bar .menu_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
#main .menu_bar .menu_list li {
  margin: 10px 0;
}
#main .menu_bar .menu_list li a img {
  width: 35px;
}
#main .menu_bar .menu_list_white {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  position: absolute;
  top: 0;
  left: 14px;
}
#main .menu_bar .menu_list_white li {
  margin: 10px 0;
}
#main .menu_bar .menu_list_white li a img {
  width: 35px;
}
#main .folder {
  width: 270px;
  height: calc(100vh - 37px);
  background: #202020;
  position: relative;
}
#main .folder .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 30px;
  color: #9f9f9f;
}
#main .folder .title h2 {
  font-size: 16px;
  font-weight: 600;
}
#main .folder .folder_list {
  color: #9f9f9f;
}
#main .folder .folder_list li {
  display: flex;
  align-items: center;
  height: 30px;
}
#main .folder .folder_list li .fa-solid {
  width: 20px;
  color: #9f9f9f;
}
#main .folder .folder_list li .fa-chevron-right {
  margin-left: 2px;
  width: 18px;
}
#main .folder .folder_list li img {
  width: 20px;
  margin-right: 5px;
}
#main .folder .folder_list #kimdust {
  padding-left: 15px;
}
#main .folder .folder_list #assets,
#main .folder .folder_list #images,
#main .folder .folder_list #html {
  padding-left: 35px;
}
#main .folder .folder_list #css,
#main .folder .folder_list #js,
#main .folder .folder_list #scss {
  padding-left: 55px;
}
#main .folder .folder_list #jsfile {
  padding-left: 75px;
}
#main .folder .folder_list #jsfile a {
  display: flex;
  align-items: center;
  color: #9f9f9f;
}
#main .folder .folder_list #html a {
  display: flex;
  align-items: center;
  color: #9f9f9f;
}
#main .folder .folder_line .line1 {
  height: 122px;
  width: 1px;
  border-right: 1px solid #444444;
  position: absolute;
  top: 105px;
  left: 38px;
}
#main .folder .folder_line .line2 {
  height: 33px;
  width: 1px;
  border-right: 1px solid #444444;
  position: absolute;
  top: 165px;
  left: 60px;
}
#main .develop_page {
  width: calc(100vw - 60px - 270px);
  height: calc(100vh - 37px);
}
#main .develop_page .open_bar {
  width: 100%;
  height: 47px;
  background: #212121;
}
#main .develop_page .open_bar .tab {
  display: flex;
}
#main .develop_page .open_bar .tab .welcome {
  width: 170px;
  height: 47px;
  display: flex;
  background: #1b1b1b;
}
#main .develop_page .open_bar .tab .welcome button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #e9e9e9;
  font-weight: 500;
  font-style: italic;
  margin: 0 18px;
}
#main .develop_page .open_bar .tab .welcome button img {
  width: 25px;
}
#main .develop_page .open_bar .tab .welcome button .fa-xmark {
  margin-left: 10px;
}
#main .develop_page .open_bar .tab .about {
  width: 150px;
  height: 47px;
  display: flex;
  background: #272727;
}
#main .develop_page .open_bar .tab .about button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #797979;
  font-weight: 500;
  margin: 0 18px;
}
#main .develop_page .open_bar .tab .about button img {
  width: 25px;
}
#main .develop_page .open_bar .tab .about button .fa-xmark {
  margin-left: 10px;
}
#main .develop_page .open_bar .tab .stacks {
  width: 150px;
  height: 47px;
  display: flex;
  background: #272727;
}
#main .develop_page .open_bar .tab .stacks button {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #797979;
  font-weight: 500;
  margin: 0 18px;
}
#main .develop_page .open_bar .tab .stacks button img {
  width: 23px;
}
#main .develop_page .open_bar .tab .stacks button .fa-xmark {
  margin-left: 10px;
}
#main .develop_page .main_contents {
  width: 100%;
  height: calc(100vh - 37px - 47px);
  background: #1b1b1b;
}
#main .develop_page .main_contents #welcome_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e9e9e9;
}
#main .develop_page .main_contents #welcome_contents img {
  width: 400px;
  margin-top: 120px;
  transform: scale(0.5);
  cursor: pointer;
}
#main .develop_page .main_contents #welcome_contents h2 {
  margin-top: 20px;
  font-size: 55px;
  font-weight: 800;
}
#main .develop_page .main_contents #welcome_contents h3 {
  margin-top: -25px;
  font-size: 50px;
}
#main .develop_page .main_contents #welcome_contents img,
#main .develop_page .main_contents #welcome_contents h2,
#main .develop_page .main_contents #welcome_contents h3 {
  opacity: 0;
}
#main .develop_page .main_contents #welcome_contents h2,
#main .develop_page .main_contents #welcome_contents h3 {
  transform: translateY(-50px);
}
#main .develop_page .main_contents #about_contents {
  height: calc(160vh - 37px - 47px);
  background: #1b1b1b;
  padding: 10px 20px;
  counter-reset: line;
  font-size: 18px;
}
#main .develop_page .main_contents #about_contents .code_line {
  display: flex;
}
#main .develop_page .main_contents #about_contents .code_line::before {
  color: #5f5f5f;
  content: counter(line);
  counter-increment: line;
  margin-right: 10px;
  min-width: 26px;
}
#main .develop_page .main_contents #about_contents .code_line .code_blue {
  color: #89ddf1;
  font-weight: 300;
}
#main .develop_page .main_contents #about_contents .code_line .code_red {
  color: #f8644c;
  font-weight: 300;
}
#main .develop_page .main_contents #about_contents .code_line .code_purple {
  color: #a792dd;
  font-weight: 300;
}
#main .develop_page .main_contents #about_contents .code_line .code_green {
  color: #c3e883;
  font-weight: 300;
}
#main .develop_page .main_contents #about_contents .code_line p {
  color: white;
  font-weight: 300;
}
#main .develop_page .main_contents #about_contents .code_margin1 span:first-child {
  margin-left: 20px;
}
#main .develop_page .main_contents #about_contents .code_margin2 span:first-child {
  margin-left: 40px;
}
#main .develop_page .main_contents #about_contents .code_margin3 p {
  margin-left: 60px;
}
#main .develop_page .main_contents #about_contents .about_slide {
  padding: 80px 50px;
}
#main .develop_page .main_contents #about_contents .about_slide swiper-slide img {
  width: 150px;
}/*# sourceMappingURL=comm.css.map */